extends layout

block content
    .article-clean(style='margin: 50px;')
      .intro
        if isEditing
          form(action="save", method="post" id="edit")
            input(type="text", name="name" style="font-size: 32px" value=articleObj.name)
            p.text-center
              span.by You are editing...
            textarea(cols="75%", rows="10", name="content", style="font-size: 18px" form="edit")= articleObj.content
            button.btn.btn-primary(type="submit") 儲存
            br
        else
          h1.text-center= articleObj.name
          p.text-center
            span.by by
            a(href='#')= articleObj.authorUserName
            span.date= (new Date(articleObj.lastEdit)).toLocaleString()

      .text
        if !isEditing
          p= articleObj.content

      div
        span
          button.btn.btn-primary(type='button', onclick="window.location.href = '../../'", style='width: 130px;') 返回

        if canEdit && !isEditing
          form.col-md-12(action='../edit', method='post', style='margin: 0;margin-top: 12px;margin-bottom: 11px;')
            button.btn.btn-warning(type='submit', style='width: 130px;') 編輯
          form.col-md-12(action='../delete', method='post')
            button.btn.btn-danger(type='submit', style='width: 130px;') 刪除
    
