extends layout

block content
    h1 布告欄

    table
      tr
         td= "內容"
         td= "作者"
         td= "最後更改"
      // 傳入article
      each val in articleList 
          tr
            td
              a(href="/content")= val.name      
            td= val.authorUserName
            td= val.lastEdit
    
    br
    form(action="login/logoutAction", method="post") 
      button(type="submit") 登出