<%_ /* Created by Andrew Lin on Jan 2018. */ -%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">首頁</a>
    <%_ /* 有登入的話輸出登出超連結 */ -%>
    <%_ if(req.session.logined === true){ -%>
    <a href="/logout">登出</a>
    <%_ /* 沒登入的話輸出註冊和登入超連結 */ -%>
    <%_ }else{ -%>
    <a href="/register">註冊</a>
    <a href="/login">登入</a>
    <%_ } -%>
    <br>
    <label>暱稱：<%- result.name %></label><br>
    <label>文章內容：</label>
    <textarea disabled="disabled"><%- result.content %></textarea>
    <%_ if(req.session.logined === true){ -%>
    <form action="/post_message/<%- result._id %>" method="post">
      <label>留言：</label>
      <input type="text" name="content"><br>
      <input type="submit" value="留言">
    </form>
    <%_ } -%>
    <table>
      <thead>
        <tr>
          <th>暱稱</th>
          <th>留言內容</th>
          <%_ if(req.session.logined === true){ -%>
          <th>刪除</th>
          <th>編輯</th>
          <%_ } -%>
        </th>
      </thead>
      <%_ /* 把每一則message印出來 */ -%>
      <%_ for (let i in message){ -%>
      <tr>
        <td><%- message[i]['name'] %></td>
        <td><%- message[i]['content'] %></td>
        <%_ /* 如果那則訊息是現在的使用者發的或是現在的使用者是管理員 */ -%>
        <%_ if ((req.session.account === message[i]['account']) || (req.session.type === "admin")){ -%>
        <td><a href="/delete_message/<%- message[i]['_id'] %>">刪除</a></td>
        <td><a href="/edit_message/<%- message[i]['_id'] %>">修改</a></td>
        <%_ } -%>
      </tr>
      <%_ } -%>
    </table>
  </body>
</html>
